extends layout

block content
  h1= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  table
    thead
      tr
        th ID
        th Name
        th Email
        th Phone
    tbody
      each client in clients
        tr
          td= client.id
          td= client.name
          td= client.email
          td= client.phone
        