extends layout

block content
  nav.navbar
    div.navbar-brand
      h1 Ashwamed Engineers and Consultants
    div.navbar-links
      a(href='/') Home
      a(href='/clients') Clients
      a(href='/reports') Reports
      a(href='/logout') Logout

  div.dashboard-container
    h1= title
    table
        thead
        tr
            th #
            th Name
            th Email
            th Phone
        tbody
        each client, index in clients
            tr
            td= index + 1
            td= client.name
            td= client.email
            td= client.phone
        