extends layout

block content
  div.dashboard-container
    .row
      .col-6
        h1= title
      .col-6.text-end
        // Button to open the modal
        button(type='button', class='btn btn-primary', data-bs-toggle='modal', data-bs-target='#uploadModal') Upload New Report

    if successMessage
      // Display the toast alert with close button
      .position-absolute.bottom-0.start-50.translate-middle-x.p-3
        .toast.show(id="testToast", style='background-color: #28a745; color: white;', role="alert", aria-live="assertive", aria-atomic="true", data-bs-delay="2000", data-bs-autohide="true")
          .toast-body.d-flex.justify-content-between.align-items-start 
            span #{successMessage}
            button.btn-close(type='button', data-bs-dismiss='toast', aria-label='Close')

    table
      thead
        tr
          th #
          th Test Name
          th Client Name
          th Upload Date
          th Report
      tbody
        each report, index in reports
          tr
            td= index + 1
            td= report.reportName
            td= report.clientName
            td= report.formattedDate
            td
              a(href=`/download-pdf/${report.id}`, class='btn-download')
                i.fas.fa-download

    // Modal for uploading new reports
    .modal.fade(id='uploadModal', tabindex='-1', aria-labelledby='uploadReportModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title#uploadReportModalLabel Upload New Report
            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
          .modal-body
            form(action='/upload-report', method='post', enctype='multipart/form-data', id='uploadForm')
              label(for='clientId') Client Name:
              select.form-select(id='clientId' name='clientId' required)
                each client in clients
                  option(value=client.id)= client.name

              label(for='reportName') Report Name:
              span.required-field *
              input.form-control(type='text' id='reportName' name='reportName' required)

              label(for='reportFile') Upload Report File:
              span.required-field *
              input.form-control(type='file' id='reportFile' name='reportFile' accept='.pdf' required)

          .modal-footer
            // Call a JavaScript function to submit the form
            button.btn.btn-primary(type='button', onclick='submitForm()') Upload Report
            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close

    // JavaScript to submit the form
    script.
      function submitForm() {
        var clientId = document.getElementById('clientId').value;
        var reportName = document.getElementById('reportName').value;
        var reportFile = document.getElementById('reportFile').value;

        if (!clientId || !reportName || !reportFile) {
          alert('Please fill in all required fields.');
          return;
        }

      // If all fields are filled, submit the form
        document.getElementById('uploadForm').submit();
      }