extends layout

block content
  h1= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  table
    thead
      tr
        th Test ID
        th Test Name
        th Client ID
        th Date
        th Report
    tbody
      each report in reports
        tr
          td= report.id
          td= report.name
          td= report.clientId
          td= report.date
          td
            a(href=`/download-pdf/${report.id}`, class='btn-download') Download