extends layout

block content
  h1= title
  link(rel='stylesheet', href='/stylesheets/styles.css')
  table
    thead
      tr
        th #
        th Test Name
        th Date
        th Result
        th Report
    tbody
      each report, index in reports
        tr
          td= index + 1
          td= report.testName
          td= report.date
          td= report.result
          td
            a(href=`/download-pdf/${report.id}`, class='btn-download') Download